
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Inicio";
}


<ul>
    <li>
        @Html.ActionLink("Insertar productos", "Index", "Insert")
    </li>
    <li>
        @Html.ActionLink("Listar productos", "Index", "List")
    </li>
</ul>

