
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tienda</title>
</head>
<body>
    <div> 
        <ul>
            <li>
                @Html.ActionLink("Insertar productos", "Index", "Insert")
            </li>
            <li>
                @Html.ActionLink("Listar productos", "Index", "List")
            </li>
        </ul>
    </div>
</body>
</html>
