

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = LocalResources.Resources.tituloInicio;
}


<h1>@LocalResources.Resources.tituloInicio</h1>

<div id = "app">
{{ message }}
</div >

