

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = LocalResources.Resources.tituloInicio;
}


<h1 class="user-select-none">@LocalResources.Resources.tituloInicio</h1>

<div id="app">
    {{message}}
</div>
