
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


label.error{
    font-style: italic;
    color: red;
}


li.active{
    background-color: darkgrey !important;
    border-color: darkgrey !important;
}